<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.java2_pro.mapper.TagMapper">
    <select id="getTagPopularityAll" resultType="com.example.java2_pro.entity.special.TagWithPopularity">
        WITH x AS (
            SELECT
                ctq.tag AS topic,
                COUNT(*) AS total_question_count,
                SUM(q.answer_count) AS total_answer_count,
                SUM(q.view_count) AS total_view_count
            FROM
                connection_tag_and_question ctq
                    JOIN
                question q ON ctq.question_id = q.question_id
            GROUP BY
                ctq.tag
        )
        SELECT
            topic,
            total_question_count,
            total_answer_count,
            total_view_count,
            SUM(total_view_count + total_answer_count + total_question_count) AS popularity
        FROM
            x
        GROUP BY
            topic, total_question_count, total_answer_count, total_view_count
        ORDER BY
            popularity DESC ;
    </select>
</mapper>
